[Unit]
Description=react to hyprland ipc events in bash
PartOf=graphical-session.target
After=graphical-session.target
ConditionEnvironment=HYPRLAND_INSTANCE_SIGNATURE

[Service]
Type=simple
ExecStart=/home/kuba/.local/bin/hyprevents
Restart=on-failure

[Install]
WantedBy=graphical-session.target
