[Unit]
Description=Legacy polkit authentication agent for GNOME
Documentation=https://gitlab.gnome.org/Archive/policykit-gnome
PartOf=graphical-session.target
After=graphical-session.target
ConditionEnvironment=WAYLAND_DISPLAY

[Service]
Type=simple
ExecStart=/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1
Restart=on-failure

[Install]
WantedBy=graphical-session.target
