[Unit]
Description=Enhance your Hyprland experience
Documentation=https://github.com/hyprland-community/pyprland
PartOf=graphical-session.target
After=graphical-session.target
Wants=network-online.target
After=network-online.target
After=shikane.service
ConditionEnvironment=HYPRLAND_INSTANCE_SIGNATURE

[Service]
; Type=notify
; NotifyAccess=all
Type=exec
Environment="DEBUG=1"
KillMode=control-group
; ExecStart=/usr/bin/bash -c '/usr/local/bin/pyprland 2>&1'
ExecStart=/usr/bin/pypr
ExecStartPost=/usr/bin/sleep 2
ExecStop=/usr/bin/pypr exit
ExecReload=/usr/bin/pypr reload
Restart=never
; Restart=on-failure

[Install]
WantedBy=graphical-session.target
