[Unit]
Description=Linux port of tailscale system tray menu.
Documentation=https://github.com/mattn/tailscale-systray/
PartOf=graphical-session.target
After=graphical-session.target
ConditionEnvironment=WAYLAND_DISPLAY

[Service]
Type=simple
ExecStart=/usr/bin/tailscale-systray
Restart=on-failure

[Install]
WantedBy=graphical-session.target


