[Unit]
Description=Legacy polkit authentication agent for GNOME
Documentation=https://github.com/ncopa/xfce-polkit
PartOf=graphical-session.target
After=graphical-session.target
ConditionEnvironment=WAYLAND_DISPLAY

[Service]
Type=simple
ExecStart=/usr/bin/xfce-polkit
Restart=on-failure

[Install]
WantedBy=graphical-session.target
